.google {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  margin: 20px 0;
  margin-bottom: 10%;
  background: #980000;
  z-index: 2;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.logo {
  filter: sepia(1) saturate(5) hue-rotate(-50deg);
  margin-right: 5px;
}

.status {
  text-align: center;
  width: 62%;
}

@media (max-width: 640px) {
  .google {
    margin-bottom: 5%;
  }

  .status {
    padding-bottom: 15px;
  }
}
