@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.page,
.main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  appearance: none;
}

.title {
  text-align: center;
}

.page {
  min-height: 100vh;
  background: black;
  justify-content: center;
}

.logo_vteam {
  filter: invert(1);
}

.logo {
  margin-bottom: 5%;
}

.wrapper {
  overflow: hidden;
  width: max-content;
  max-height: 720px;
  display: flex;
  align-items: stretch;
  border-radius: 5px;
  margin: 1em 0;
  border: 2px solid transparent;
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
}

.header,
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poster_container {
  width: 55%;
  overflow: hidden;
}

.poster {
  border-right: 2px solid transparent;
  object-fit: cover;
  width: 100%;
}

.silencio {
  width: 100%;
  object-fit: contain;
}

.main {
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  flex: 1;
}

.main .image {
  text-align: center;
  width: 90%;
}

.decoration {
  position: absolute;
  z-index: 1;
}

.decoration_login {
  left: -28%;
  top: 0%;
}

.decoration_logout {
  top: 0%;
  left: -1%;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    width: 500px;
    min-height: 650px;
  }

  .decoration_logout {
    top: -8%;
    left: -1%;
  }

  .poster_container {
    display: none;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 90%;
    max-height: max-content;
  }

  .decoration_login {
    width: 779px;
    height: 743px;
    object-fit: contain;
    left: -47%;
    top: 0%;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 25px;
  }

  .silencio {
    width: 80%;
  }

  .decoration_login {
    left: -85%;
    top: -1%;
  }
}
