.page,
.main {
  font-family: var(--font-EB_Garamond);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  appearance: none;
}

.title {
  text-align: center;
  font-family: var(--font-RoadRage);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: -10px;
  font-size: 45px;
}

.page {
  min-height: 100vh;
  margin: 2em 0;
  justify-content: center;
}

.logo_vteam {
  filter: invert(1);
  pointer-events: none;
}

.logo {
  margin-bottom: 5%;
}

.wrapper {
  border-color: var(--green-main);
  display: flex;
  border: 2px solid var(--green-main);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
}

.main_content {
  overflow: hidden;
  width: max-content;
  max-height: 720px;
  width: 100%;
  display: flex;
  align-items: stretch;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
}

.banner {
  border-top: 2px solid var(--green-main);
  color: transparent;
  width: 100%;
  border-color: var(--green-main);
  object-fit: fill;
  object-position: 0%;
  pointer-events: none;
}

.header,
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poster_container {
  width: 55%;
  overflow: hidden;
}

.poster {
  border-right: 2px solid transparent;
  object-fit: cover;
  width: 100%;
}

.silencio {
  width: 100%;
  pointer-events: none;
  object-fit: contain;
}

.main {
  border-radius: 5px;
  position: relative;
  min-height: 650px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: black;
  overflow: hidden;
  flex: 1;
}

.main .image {
  text-align: center;
  width: 90%;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    width: 500px;
    min-height: 650px;
  }

  .poster_container {
    display: none;
  }

  .banner {
    object-fit: cover;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 90%;
    max-height: max-content;
  }

  .main_content {
    max-height: max-content;
  }
}

@media (max-width: 450px) {
  .silencio {
    width: 80%;
  }
}
