.page,
.form {
  background: black;
  width: 90%;
}

.page {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page img {
  max-width: 330px;
  border: 2px dashed green;
}

.page p {
  text-align: center;
  margin-top: -20px;
  word-break: break-all;
  margin-bottom: 15px;
}

.page .title {
  text-align: center;
}

.page .information {
  pointer-events: none;
  width: 100%;
}

.page .form {
  pointer-events: none;
  padding: 5px;
}

.page .verifyStatus {
  text-transform: uppercase;
  border: none;
  background: yellow;
}

.page button {
  width: 100%;
  font-family: var(--font-PatrickHandSC);
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: white;
  white-space: nowrap;
  padding: 0.4em 1em;
  position: relative;
  z-index: 99;
  background: green;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.page button:hover {
  border-color: green;
  background: transparent;
  color: green;
}

.page button:active {
  transform: scale(0.98);
}

.page .password {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.page .password input {
  width: 70%;
  height: 45px;
  border: 1px solid green;
  background: transparent;
  text-align: center;
  color: gray;
  font-family: var(--font-PatrickHandSC);
}

.page .password input::placeholder {
  text-align: center;
  font-size: 20px;
}

.page .password button {
  width: max-content;
}

.no_spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no_spinner::-webkit-inner-spin-button,
.no_spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 540px) {
  .page .password {
    flex-direction: column;
  }

  .page .password input,
  .page .password button {
    width: 100%;
  }

  .form {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .form {
    font-size: 10px;
  }
}
