:root {
  --red-main: #980000;
  --green-main: green;
  --orange-main: #f16e22;
}

html,
body {
  background: black;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.vectr-sponsor {
  font-family: var(--font-EB_Garamond);
  background: black;
  color: var(--orange-main);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  font-size: 20px;
  text-align: center;
  flex-wrap: wrap;
  padding: 0.5em;
  gap: 12px;
  border-top: 1px solid var(--orange-main);
}

@media (max-width: 576px) {
  .vectr-sponsor img {
    width: 50px;
    height: 50px;
  }
}
