@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.page,
.main {
  color: #980000;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.page {
  min-height: 100vh;
}

.main {
  border: 3px solid #980000;
  border-radius: 5px;
  padding: 20px;
  transform: scale(1.2);
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main form input:first-child {
  margin-top: 20px;
}

.main form input {
  padding: 0.5em 1em;
  font-size: 20px;
}

.main button {
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: white;
  padding: 0.5em 1em;
  background: #980000;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.main button:hover {
  border-color: #980000;
  background: transparent;
  color: #980000;
}

.main button:active {
  transform: scale(0.98);
}

@media (max-width: 450px) {
  .main {
    width: 90%;
    transform: scale(1);
  }

  .main form {
    width: 100%;
  }
}
