@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.page,
.main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  appearance: none;
}

.page {
  min-height: 100vh;
}

.main {
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 20px;
  transform: scale(1.2);
  width: 500px;
  height: 100%;
}

.main .login {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .image {
  text-align: center;
  width: 90%;
}

.main .notice {
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
}

.page .status {
  font-size: 17px;
  text-align: "center";
  margin-top: "20px";
  font-weight: 300;
}

@media (max-width: 450px) {
  .main {
    width: 90%;
    transform: scale(1);
  }

  .main form {
    width: 100%;
  }
}
